/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
  /* google search BBC website for font */
}

body {
  margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

/* @media (max-width: 500px) {
  


} */

/* @media (max-width: 1000px) {



} */

@media (min-width: 1200px) {

  header {
    height: 60px;
    background: black;
  }

  header nav * {
    float: left;
    height: 60px;
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    border-right: 1px solid white;
  }

  /* bbc logo */
  header nav img {
    padding: 5px;
  }

  header nav img + img {
    border: none;
  }

  header nav ul {
    /* width: 70%; */
    list-style: none;
    padding-inline-start: 0; /* user agent stylesheet had 40px */
    margin: 0;
  }

  header nav ul li a {
    padding: 20px 15px;
  }

  /* header nav ul li:first-child a {
    padding-right: 50px;
  } */

  header nav form {
    border-right: none;
    padding: 1%;
  }

  header nav form input {
    height: 32px;
  }


  div > h1 {
    float: left;
    margin: 0;
    padding: 30px;
    width: 80%;
    font-size: 3em;
  }

  div span {
    width: 20%;
    float: left;
    font-size: 2em;
    text-align: right;
    padding: 35.5px 10px;
    color: grey;
  }

  .topHeadlines {
    float: left;
    width: 50%;
  }

  section.headline {
    background-image: url("/images/bbc-headline.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    margin: 0 0 0 10px;
  }

  h3 {
    font-size: 3rem;
    padding-top: 260px;
    padding-left: 20px;
  }

  section.headline p, section.headline span {
    font-size: 1.7rem;
    color: rgb(255, 255,255);
  }

  section.headline p {
    padding-left: 20px;
  }

  section.headline span {
    border-left: 3px solid red;
    margin-left: 20px;
    padding-left: 5px;
  }

  .subHeadlines {
    float: left;
    width: 50%;
  }

  .subHeadlines > section {
    background-image: url("/images/bbc-us-canada.png");
    background-repeat: no-repeat;
    color: white;
  }

  .subHeadlines section + section {
    background-image: url("/images/bbc-covid.png");
    background-repeat: no-repeat;
    color: white;
  }

  .subHeadlines section + section + section {
    background-image: url("/images/bbc-productivity.png");
    background-repeat: no-repeat;
    color: white;
  }

  .subHeadlines section + section + section + section {
    background-image: url("/images/bbc-folksinger.png");
    background-repeat: no-repeat;
    color: white;
  }

}



