/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
  /* google search BBC website for font */
}

body {
  margin: 0;
  font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif;
}

/* @media (max-width: 500px) {
  


} */

/* @media (max-width: 1000px) {



} */

/* @media (min-width: 1200px) { */

/******************************************
/* LAYOUT
/*******************************************/

  header {
    height: 60px;
    background: black;
  }

  header nav * {
    float: left;
    height: 60px;
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    border-right: 1px solid white;
  }

  /* bbc logo */
  header nav img {
    padding: 5px;
  }

  header nav img + img {
    border: none;
  }

  header nav ul {
    /* width: 70%; */
    list-style: none;
    padding-inline-start: 0; /* user agent stylesheet had 40px */
    margin: 0;
  }

  header nav ul li a {
    padding: 20px 15px;
  }

  /* header nav ul li:first-child a {
    padding-right: 50px;
  } */

  header nav form {
    border-right: none;
    padding: 1%;
  }

  header nav form input {
    height: 32px;
  }

  div {
    float: left;
    width: 100%;
  }

  div > h1 {
    float: left;
    margin: 0;
    padding: 30px;
    width: 80%;
    font-size: 3em;
  }

  div span {
    width: 20%;
    float: left;
    font-size: 2em;
    text-align: right;
    padding: 35.5px 15px;
    color: grey;
  }

  .two-column {
    margin: 0 10px;
  }

  .top_headline {
    background-image: url("/images/bbc-headline.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    float: left;
    width: 45%;
  }

  article {
    margin: 25% 5% 2% 5%;
  }

  article h3 {
    font-size: 2.8rem;
    font-weight: 300;
  }

  article p,
  article span {
    color: rgb(225, 225, 225);
  }

  article p {
    font-size: 1.7em;
  }

  article span {
    border-left: 3px solid red;
    padding-left: 8px;
    text-transform: uppercase;
    font-size: 1.4em;
  }

  .sub_headlines {
    float: left;
    width: 50%;
    background-color: rgb(94, 94, 141);
    margin-left: 15px;
  }

  .left_col,
  .right_col {
    float: left;
    width: 50%;
  }

  .left_col .articles,
  .right_col .articles {
    float: left;
    width: 100%;
    min-height: 150px;
    border: 1px solid black;
    box-sizing: border-box;
  }

  .articles {
    /* background-size: cover;
    background-repeat: no-repeat; */
    color: white;
    float: left;
    width: 100%;
    /* padding: 20px 10px 5px 10px; */
  }

  .articles h4 {
    font-size: 1.3em;
    font-weight: 200;
  }

  .articles span {
    border-left: 3px solid red;
    padding-left: 8px;
    text-transform: uppercase;
    font-size: 1.4em;
  }

  .left_col > section {
    background-image: url("/images/bbc-us-canada.png");
  }

  .left_col section + section {
    background-image: url("/images/bbc-productivity.png");
  }

  .right_col section {
    background-image: url("/images/bbc-covid.png");
  }

  .right_col section + section {
    background-image: url("/images/bbc-folksinger.png");
  }

/* } end @media (min-width: 1200px) */



